In [19]:
import pandas as pd
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.metrics import confusion_matrix, accuracy_score

In [12]:
df=pd.read_csv(r"C:\Users\dell\Documents\apprentissage_ML_DL_Python_R_udemy\codes\House_price_prepros_class.csv",header=0)
df

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,airportYES,n_hos_beds,n_hot_rooms,waterbodyLake,waterbodyLake and River,waterbodyRiver,rainfall,parks,Sold,moy_dist
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,1,5.480,11.19200,0,0,1,23,0.049347,0,4.0875
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,0,7.332,12.17280,1,0,0,42,0.046146,1,4.9675
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,0,7.394,46.19856,0,0,0,38,0.045764,0,4.9675
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,1,9.268,11.26720,1,0,0,45,0.047151,0,6.0650
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,0,8.824,11.28960,1,0,0,55,0.039474,0,6.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,19.0,9.67,0,9.348,12.17920,0,1,0,27,0.056006,1,2.4775
502,20.6,41.93,0.573,6.120,76.7,19.0,9.08,1,6.612,13.16480,0,1,0,20,0.059903,1,2.2875
503,23.9,41.93,0.573,6.976,91.0,19.0,5.64,0,5.478,12.19120,0,0,0,31,0.057572,1,2.1675
504,22.0,41.93,0.573,6.794,89.3,19.0,6.48,1,7.940,15.17600,0,0,0,47,0.060694,1,2.3900
505,19.0,41.93,0.573,6.030,80.8,19.0,7.88,1,10.280,10.15200,0,0,0,45,0.060336,1,2.5050

In [13]:
X=df.loc[:,df.columns!='Sold']
X

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,airportYES,n_hos_beds,n_hot_rooms,waterbodyLake,waterbodyLake and River,waterbodyRiver,rainfall,parks,moy_dist
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,1,5.480,11.19200,0,0,1,23,0.049347,4.0875
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,0,7.332,12.17280,1,0,0,42,0.046146,4.9675
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,0,7.394,46.19856,0,0,0,38,0.045764,4.9675
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,1,9.268,11.26720,1,0,0,45,0.047151,6.0650
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,0,8.824,11.28960,1,0,0,55,0.039474,6.0625
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,22.4,41.93,0.573,6.593,69.1,19.0,9.67,0,9.348,12.17920,0,1,0,27,0.056006,2.4775
502,20.6,41.93,0.573,6.120,76.7,19.0,9.08,1,6.612,13.16480,0,1,0,20,0.059903,2.2875
503,23.9,41.93,0.573,6.976,91.0,19.0,5.64,0,5.478,12.19120,0,0,0,31,0.057572,2.1675
504,22.0,41.93,0.573,6.794,89.3,19.0,6.48,1,7.940,15.17600,0,0,0,47,0.060694,2.3900
505,19.0,41.93,0.573,6.030,80.8,19.0,7.88,1,10.280,10.15200,0,0,0,45,0.060336,2.5050

In [14]:
y=df['Sold']
y

0      0
1      1
2      0
3      0
4      0
      ..
501    1
502    1
503    1
504    1
505    1
Name: Sold, Length: 506, dtype: int64

In [15]:
clf_lda=LinearDiscriminantAnalysis()

In [16]:
clf_lda.fit(X,y)

LinearDiscriminantAnalysis()

In [17]:
y_lda_pred=clf_lda.predict(X)
y_lda_pred

array([1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1],
      dtype=int64)

In [18]:
confusion_matrix(y,y_lda_pred)

array([[192,  84],
       [ 79, 151]], dtype=int64)

# TRAIN TEST

In [20]:
from sklearn.model_selection import train_test_split

In [22]:
X_train, X_test, y_train, y_test= train_test_split(X,y,test_size=0.2, random_state=0)

In [23]:
clf_LDA=LinearDiscriminantAnalysis()

In [24]:
clf_LDA.fit(X_train,y_train)

LinearDiscriminantAnalysis()

In [25]:
y_test_pred=clf_LDA.predict(X_test)

In [26]:
confusion_matrix(y_test,y_test_pred)

array([[34, 24],
       [11, 33]], dtype=int64)

In [27]:
accuracy_score(y_test,y_test_pred)

0.6568627450980392